body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background: #89aeff;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: #fff;
}
